.container{
    height: auto;
    background-color: whitesmoke;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    background-color: gold;
    height: 130px;
}
.headerup{
    display: flex;
    width: 1270px;
    height: 60px;
    margin-left: 185px;
    padding-top: 5px;
   
}

.headerdown{
    display: flex;
    width: 1320px;
    height: 50px;
    margin-left: 130px;
}
.headerup>a{
    height: 50px;
    width: 200px;
}
.search-bar{ 
    border-radius: 20px;
    width: 400px;
    margin-left: 30px;
    height: 35px;
    margin-top: 8px;
    border: none;

}

.btnup{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: gold;
    font-size: 15px;
    margin: 8px 10px ;
   ;
}
.btnup:hover{
    background-color: aliceblue;
    cursor: pointer;
}
form>button:hover{
    background-color: aliceblue;
    cursor: pointer;
}
ul.menungang{
    list-style-type: none;
}
ul.menungang>li>a{
    display: block;
    text-decoration: none;
    padding: 0 20px;
    line-height: 40px;
    color: black;
    border-radius: 10px;
    padding-top: 0px;
}
ul.menungang>li>a:hover{
    background-color: white;
    
}
ul.menungang>li{
    width: auto;
    float: left;
    position: relative;
}
.containersp{
    display: flex;
}
footer{
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-top: 20px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
}

.up{
    display: flex;
    width: 1320px;
    padding-left: 180px;
    font-size: 14px;
   
}
.down{
    width: 1320px;
    height: 80px;
    padding-top: 10px;
    padding-left: 180px;
    font-size: 12px;
    background-color: whitesmoke;
}
.cot2{
    margin: 0 50px;
}
.containersp{
    display: flex;
}

.bodyimg{
    width: 93%;
    height: 100%;
    border-radius: 10px;
}
.goiy{
    width: 1120px;
    height: auto;
    margin-left: 180px;
    padding-bottom: 50px;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;
    border-radius: 10px;
}

.hang1{
    display: flex;
    width: 100%;
}
.goiy1{
    width: 170px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid rgb(198, 196, 196);
    padding: 18px;
    margin: 5px 5px;
}
.goiyimg{
    width: 170px;
    border: none;
    height: 170px;
    border-radius: 5px;
    padding-bottom: 20px;
}
.goiy1>a{
    color: black;
    text-decoration: none;
}
.gia{
    margin: 10px 6px;
    color: red;
    font-size: 20px;
}

.sanphamc1{
    width: 60%;
    border-radius: 10px;
}
.imgsp{
    width: 80%;
    height: auto;
    margin-left: 180px;
    border-radius: 10px;
   
}
h2{
    text-align: left;
    width: auto;
    
}
.sanphamc1>h2{
    margin-left: 180px;
}
.sanphamc1>table{
    width: 80%;
    margin-left: 180px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
th{
   text-align: left;
   background-color: whitesmoke;
   border-radius: 8px;
   height: 40px;
   font-size: 20px;
}
tr{
    height: 30px;
}
.sanphamc2{
    background-color: white;
    margin-left: 30px;
    width: 25%;
    height: 600px;
    margin-top: 70px;
    border-radius: 10px;
}
.sanphamc2>table{
    border: 1px solid rgb(115, 112, 112);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.sanphamc2>p{
    margin-left: 20px;
    margin-right: 20px;
}
.imghang{
    width: 200px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
h3{
    margin-left: 20px;
    margin-right: 20px;
    color: red;
}
.buttonsp{
    display: flex;
    margin: 20px;

}
.buttonsp>button{
   width: 160px;
   border-radius: 10px;
   margin: auto;
   height: 60px;
}
.sanphamc2>a{
    margin-left: 20px;
    text-decoration: underline; 
    color: blue; 
}
button[name="them"]{
    color: blue;
    border: 1px solid royalblue;
}
button[name="mua"]{
    background-color: orange;
    color: white;
    border: none;
    width: 160px;
   border-radius: 10px;
   margin: auto;
   height: 60px;
}
.buttonsp>button:hover{
    cursor: pointer;
 }
 .sapxep{
    display: flex;
    height: 40px;
    
}
.sapxep>a{
    text-decoration: none;
    padding-left: 20px;
    color: black;
}
.sapxep>p{
    margin: 0 0;
}
.selected {
    border: 2px solid #1E90FF; 
}

.sort-link::selection {
    color: #1E90FF;
}
.goiy>a{
    text-decoration: none;
}
.cart{
    width: 40%;
    height: auto;
    margin-left: 460px;
    padding-bottom: 50px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;
    border-radius: 10px;
}
.cartitem{
    display: flex;
    height: 200px;
}
button[name="dathang"]{
    width: 97%;
    height: 40px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    border: none;
}
.pgia{
    color: red;
}
.cartitem>img{
    width: 150px;
     height: 150px;
     padding-right: 30px;
}
.ft{
    padding-left: 40px;
    justify-content: right;
    padding-right: 40px;
    display: flex;
    padding-bottom: 20px;
}
hr{
    width: 100%;
}
.list-banner{
    display: flex;
    overflow: hidden;
}